<!--
@Author: mdrhri-6
@Date:   2017-03-10T02:40:42+01:00
@Last modified by:   mdrhri-6
@Last modified time: 2017-03-10T11:39:11+01:00
-->

<!doctype html>
<html>
  <head>
    <title>Hello from Flask</title>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
  </head>

  <body>
    <div>
      <table style="width=100%;">
        <tr>
          {% for each in columns %}
          <th>{{ each }}</th>
          {% endfor %}
        </tr>
        {% for each in data %}
          <tr id='row_{{each[0]}}'>
            {% for key in each%}
              <td>{{ key }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <div id="tree">
      </div>
    </div>
  </body>
</html>
